/* CSS Document */
.container{
	min-width:900px;
	max-width:900px;
	position:relative;
	left:50%;
	margin-top:20px;
	margin-left:-450px;
	padding:8px;
}

.question{
	padding-top:14px;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:14px;
	-webkit-box-shadow: 0px 3px 24px 0px rgba(222,218,222,1);
	-moz-box-shadow: 0px 3px 24px 0px rgba(222,218,222,1);
	box-shadow: 0px 3px 24px 0px rgba(222,218,222,1);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	letter-spacing:1.1px;
	margin-bottom:24px;
}

.question td:first-child{
	padding:10px;	
}

.question td:nth-child(2){
	width:710px;	
}

.question td:nth-child(3){
	color:#666;
	font-size:26px;
	text-align:center;
}

.question a{
	text-decoration:none;
	color:black;	
}

.search_header{
	margin-bottom:40px;	
}

.search_header p{
	color:rgb(33,169,87);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
}

.search_header span{
	color:black;	
}

.noresult{
	color:#CCC;
	font-size:48px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	margin-top:150px;
	margin-bottom:100px;
}

.noresult span{
	margin-left:156px;	
}